
<h1>Sign In</h1>

<form action="/users/create-session" method="POST">
    <input type="email" name="email" placeholder="Email"  required>
    <input type="password" name="password" placeholder="Password"  required>
    <input type="submit" value="Sign In">

</form>

<h1><b>OR</b></h1>
<br>

<a href="/users/auth/google"> <button _ngcontent-serverapp-c82="" class="login-btn"><img _ngcontent-serverapp-c82="" src="https://ninjasfiles.s3.amazonaws.com/0000000000003099.png" alt="google" width="30"><span _ngcontent-serverapp-c82="">Login with Google</span><!----></button>
    </a>

