<div style="background-color: aliceblue;">
    <h1>Hi <%=comment.user.name%>!</h1>
    <br><br><br>
    <p>Your comment: <strong style="color: black;"><%=comment.content%></strong><br> just got published </p>
    <br><br>
    <p>Thanks & Regards</p>
    <p>ROHIT GUPTA</p>
</div>